body {
	background-color: #CCCCCC;
}

h1 {
	text-align: center;
}
table .Section {
	border:solid 1px #333333;
	width:300;
	margin-bottom: 25px;
}

td {
	font-family: Verdana, Arial;
	font-size: 12px;
	color: #333333;
}

td .Section {
	padding:5px;
}

.TableTitle {
	position: relative;
	top: -15px;
	padding-left: 2px;
	padding-right: 2px;
	color: #333333;
	background-color: #CCCCCC;
	font-weight: bold;
	font-size: 10px;
}

form {
	margin: 0px;
}

input {
	font-size: 10px;
	border:solid 1px #333333;
	background-color: #FFFFFF;
	color:#333333;
}
.ClientText {
	font-weight: bold;
	font-size: 10px;
	color: #FF0000;
}

.ClientList {
	font-size: 10px;
	position: absolute;
	visibility: hidden;
}

.ClientList a {
	padding-left: 15px;
	color: #333333;
	font-size: 12px;
}

img {
	width: 300px;
	height: 32px;
	border: 0px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.CopyRight {
	font-family: Verdana, Arial;
	font-size: 10px;
	color: #999999;
	text-align: center;
}
